@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  /* type normal */
  --color-type-normal-100: oklch(97.48% 0.021 106.78);
  --color-type-normal-300: oklch(87.86% 0.0504 107.39);
  --color-type-normal-500: oklch(71.78% 0.0617 106.79);
  --color-type-normal-700: oklch(61.51% 0.0645 108.16);
  --color-type-normal-900: oklch(49.92% 0.0635 108.5);
  /* type fire */
  --color-type-fire-100: oklch(93.76% 0.04 61.24);
  --color-type-fire-300: oklch(82.79% 0.1109 54.44);
  --color-type-fire-500: oklch(71.21% 0.1609 52.63);
  --color-type-fire-700: oklch(59.6% 0.1584 48.63);
  --color-type-fire-900: oklch(45.2% 0.1246 46.63);
  /* type water */
  --color-type-water-100: oklch(94.99% 0.0246 251.9);
  --color-type-water-300: oklch(82.46% 0.0768 253.49);
  --color-type-water-500: oklch(66.54% 0.1513 263.82);
  --color-type-water-700: oklch(51.81% 0.1411 259.23);
  --color-type-water-900: oklch(32.54% 0.0677 254.55);
  /* type electric */
  --color-type-electric-100: oklch(97.87% 0.0532 101.58);
  --color-type-electric-300: oklch(91.11% 0.1258 98.57);
  --color-type-electric-500: oklch(86.63% 0.1681 94.24);
  --color-type-electric-700: oklch(72.21% 0.1447 94.85);
  --color-type-electric-900: oklch(53.73% 0.1106 101.12);
  /* type grass */
  --color-type-grass-100: oklch(96.15% 0.0359 142.74);
  --color-type-grass-300: oklch(87.8% 0.0878 141.42);
  --color-type-grass-500: oklch(75.39% 0.175 135.61);
  --color-type-grass-700: oklch(57.67% 0.1509 135.32);
  --color-type-grass-900: oklch(37.14% 0.0927 133.41);
  /* type ice */
  --color-type-ice-100: oklch(98.14% 0.0095 197);
  --color-type-ice-300: oklch(90.63% 0.0405 196.46);
  --color-type-ice-500: oklch(83.98% 0.0676 192.41);
  --color-type-ice-700: oklch(71.71% 0.0864 192.52);
  --color-type-ice-900: oklch(47.32% 0.0644 195.2);
  /* type fighting */
  --color-type-fighting-100: oklch(92.62% 0.0265 17.64);
  --color-type-fighting-300: oklch(78.06% 0.0811 19.06);
  --color-type-fighting-500: oklch(53.61% 0.1856 27.82);
  --color-type-fighting-700: oklch(42.04% 0.1525 27.82);
  --color-type-fighting-900: oklch(27.47% 0.0977 26.55);
  /* type poison */
  --color-type-poison-100: oklch(94.32% 0.0304 320.87);
  --color-type-poison-300: oklch(78.7% 0.1089 319.12);
  --color-type-poison-500: oklch(53.99% 0.1784 328.49);
  --color-type-poison-700: oklch(40.61% 0.1468 329.96);
  --color-type-poison-900: oklch(26.05% 0.1032 331.43);
  /* type ground */
  --color-type-ground-100: oklch(96.37% 0.0218 92.51);
  --color-type-ground-300: oklch(88.23% 0.0722 93.55);
  --color-type-ground-500: oklch(81.69% 0.1164 88.46);
  --color-type-ground-700: oklch(69.67% 0.1271 93.47);
  --color-type-ground-900: oklch(47.24% 0.0902 96.85);
  /* type flying */
  --color-type-flying-100: oklch(96.01% 0.0161 293.75);
  --color-type-flying-300: oklch(85.27% 0.0667 293.53);
  --color-type-flying-500: oklch(71.41% 0.144 294.43);
  --color-type-flying-700: oklch(53.55% 0.1298 291.11);
  --color-type-flying-900: oklch(33.28% 0.0924 294.51);
  /* type psychic */
  --color-type-psychic-100: oklch(94.23% 0.0349 348.01);
  --color-type-psychic-300: oklch(82.18% 0.1249 345.84);
  --color-type-psychic-500: oklch(68.33% 0.202 5.62);
  --color-type-psychic-700: oklch(51.49% 0.191 4.35);
  --color-type-psychic-900: oklch(34.46% 0.1287 8.12);
  /* type bug */
  --color-type-bug-100: oklch(98% 0.0253 116.52);
  --color-type-bug-300: oklch(89.91% 0.088 117.13);
  --color-type-bug-500: oklch(74.57% 0.1662 117.05);
  --color-type-bug-700: oklch(54.92% 0.1215 117.65);
  --color-type-bug-900: oklch(34.33% 0.0707 116.15);
  /* type rock */
  --color-type-rock-100: oklch(96.22% 0.0213 98.12);
  --color-type-rock-300: oklch(87.74% 0.0699 98.66);
  --color-type-rock-500: oklch(70.8% 0.1259 97.89);
  --color-type-rock-700: oklch(55.08% 0.1041 89.28);
  --color-type-rock-900: oklch(33.94% 0.0608 94.28);
  /* type ghost */
  --color-type-ghost-100: oklch(96% 0.0124 301.29);
  --color-type-ghost-300: oklch(83.61% 0.0515 301.74);
  --color-type-ghost-500: oklch(51.27% 0.1027 303.13);
  --color-type-ghost-700: oklch(37.01% 0.0898 303.63);
  --color-type-ghost-900: oklch(24.05% 0.0677 300.65);
  /* type dragon */
  --color-type-dragon-100: oklch(92.85% 0.033 299.07);
  --color-type-dragon-300: oklch(76.77% 0.1202 296.6);
  --color-type-dragon-500: oklch(53.74% 0.2667 286.68);
  --color-type-dragon-700: oklch(34.7% 0.1688 287.35);
  --color-type-dragon-900: oklch(21.35% 0.0976 288.21);
  /* type dark */
  --color-type-dark-100: oklch(93.35% 0.0086 67.72);
  --color-type-dark-300: oklch(78.4% 0.0308 80.62);
  --color-type-dark-500: oklch(47.77% 0.0423 55.7);
  --color-type-dark-700: oklch(31.05% 0.0311 62.2);
  --color-type-dark-900: oklch(18.43% 0.0178 66.34);
  /* type steel */
  --color-type-steel-100: oklch(96.53% 0.0053 286.3);
  --color-type-steel-300: oklch(87.54% 0.0246 285.88);
  --color-type-steel-500: oklch(78.67% 0.0324 285.63);
  --color-type-steel-700: oklch(59.67% 0.0439 284.99);
  --color-type-steel-900: oklch(35.65% 0.0327 284.62);
  /* type fairy */
  --color-type-fairy-100: oklch(95.01% 0.026 343.28);
  --color-type-fairy-300: oklch(83.7% 0.0885 342.8);
  --color-type-fairy-500: oklch(71.29% 0.1107 349.26);
  --color-type-fairy-700: oklch(55.79% 0.1148 352.71);
  --color-type-fairy-900: oklch(38.21% 0.097 358.68);
}
